
<div class="mail">
  <dl>
    <dt>From</dt>
    <dd>{{from}}</dd>
    <dt>To</dt>
    <dd>{{to}}</dd>
    <dt>Date</dt>

    {{! Have to wait to get moment.js working to use helper }}
    <dd>{{! date date}}</dd>

    <dd>{{date}}</dd>

  </dl>
  <h4>{{subject}}</h4>
  <p>{{body}}</p>
</div>
